* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#container {
  margin-left: 370px;
  height: 650px;
  width: 550px;
  background-color: lightyellow;
  border: 2px solid;

  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  height: 75px;
  width: 75px;
  margin: 5px;
  border: 2px solid;
}

#box1 {
  background-color: mediumaquamarine;
  order: 3;
}
#box2 {
  background-color: mediumvioletred;
  order: 4;
}
#box3 {
  background-color: mediumpurple;
  order: 2;
}
#box4 {
  background-color: mediumseagreen;
  order: 1;
}

/* This is one of the "Flex properties" called "Order" so what it does is it basically allows you to define the sequence in which flex items appear within the flex container, overriding their original order in the HTML. */