* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#container {
  margin-left: 370px;
  height: 650px;
  width: 550px;
  margin: 20px;
  padding: 10px;
  background-color: lightyellow;
  border: 2px solid;

  display: grid;
  grid-template-rows: 60px 100px;
  grid-template-columns: 80px 100px;
}
.box {
  height: 75px;
  width: 75px;
  margin: 5px;
  border: 2px solid;
}

#box1 {
  background-color: mediumaquamarine;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  
}
#box2 {
  background-color: mediumvioletred;
  grid-row: 2 / 2;
  grid-column: 1 / 2;
  
}
#box3 {
  background-color: mediumpurple;
  grid-row: 1 / 2;
  grid-column: 2 / 2;
  
}
#box4 {
  background-color: mediumseagreen;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  
}