#heading {
    color: darkmagenta;
}
    
/* This is my first practice session in "CSS" i have covered all the things that's in the below text and i used "3 styling method (internal,inline,external)" then "elemental", "id", "class" and "grouping" selector.
 
Practice Set Level 1
CSS Basics

. Create a heading and set the text color red.
. Create a div with id #heading, include CSS
using all 3 ways line, style tag and external,
and observe priority.
. Add comments to your CSS class
. Create a div, paragraph and heading and use id
Selector, element selector and class selector
for them.
. Create two divs with id first and second and
define color for both using group selector. */